body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.logo-container {
    width: 100%;
    height: 156px;
    position: relative;
}

.logo-inner {
    width: 1000px;
    height: 100%;
    /*margin:0 auto;*/
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

/*.logo-container .logo{*/
/*width: 173px;*/
/*height: 90px;*/
/*!*background-image: url("../images/1.png");*!*/
/*}*/
.logo-container a {
    width: 173px;
    height: 90px;
    margin-top: 21px;
    margin-left: 15px;
    display: block;
    text-decoration: none;
}

.webTitle {
    width: 173px;
    height: auto;
    text-align: center;
    margin-top: 9px;
    color: black;
    letter-spacing: 8px;
}

.navigator {
    width: 100%;
    height: 35px;
    background-color: #8C2106;
}

.navigator .inner {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    line-height: 35px;
}

.navigator .inner a {
    display: block;
    float: left;
    text-decoration: none;
    color: #fff;
}

.search-container {
    width: 280px;
    height: 25px;
    background-color: #E13409;
    float: left;
    margin: 5px 15px;
    border: 1px solid #6F1A04;
    border-radius: 5px;
    line-height: 1px;
}

.search-input {
    height: 100%;
    width: 255px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    padding-left: 5px;
    color: #fff;
}

/*.search-input:focus{*/
/*outline: none;*/
/*}*/
.search-container * {
    display: block;
    float: left;
}

.search-container img {
    margin-top: 1px;
}

.banner {
    width: 1000px;
    height: auto;
    margin: 30px auto 0 auto;
    overflow: hidden;
}

.banner > div {
    float: left;
}

.hot-app {
    width: 158px;
    height: auto;
    margin-left: 15px;
}

.banner a:hover {
    color: purple;
    text-decoration: underline;
}

.gallery {
    width: 491px;
    height: auto;
    margin-left: 23px;
    position: relative;
}

.gallery img {
    display: block;
}

.hot-app .title {
    width: 100%;
    height: 29px;
    border-bottom: solid #e13409 8px;
    border-left: solid #e13409 7px;
    padding-left: 5px;
}

.hot-app-style {
    list-style: square;
    margin-top: 10px;
    line-height: 35px;
    margin-left: -25px;
}

.hot-app-style a {
    text-decoration: none;
    color: black;
}

.remark {
    width: 290px;
    height: auto;
    margin-left: 15px;
}

.remark .title {
    width: 100%;
    height: 29px;
    border-bottom: solid #e13409 8px;
    border-left: solid #e13409 7px;
    padding-left: 5px;
}

.gallery-control-container {
    width: 100%;
    height: 39px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}

.gallery-control {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #959595;
    float: right;
    text-align: center;
    line-height: 24px;
    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.gallery-control:last-child {
    background-color: #f00;
    color: #fff;
}

.gallery-control:hover {
    background-color: red;
    color: #fff;
}

.order-app {
    width: 928px;
    height: auto;
    margin: 40px auto 0 auto;
}

.order-result {
    width: 970px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.app-container {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 44px;
    margin-bottom: 32px;
}

.app-container img {
    display: block;
    border: 1px solid #FDC880;
    margin-bottom: 10px;
}

.order-result-container {
    width: 928px;
    height: auto;
    margin: 0 auto;
}

.pager {
    width: 928px;
    height: auto;
    margin: 21px auto 0 auto;
}

.pager input[type=button] {
    height: 32px;
    border-radius: 5px;
}

.pager input[type=button]:focus {
    outline: none;
}

.pager span {
    font-size: 50px;
    letter-spacing: -16px;
    color: #999;
}

.footer {
    width: 100%;
    height: 250px;
    background-color: #2D2D2D;
    margin-top: 34px;
}

.footer .content {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.footer .content > div {
    float: left;
}

.footer .links {
    width: 234px;
    height: auto;

}

.friendship {
    height: auto;
    width: 74px;
    color: #000;
    font-size: 14px;
    float: left;
    margin-top: 24px;
}

.friendship-content {
    float: left;
    list-style: none;
    margin-left: -48px;
    margin-top: 46px;
}

.footer a {
    text-decoration: none;
    font-size: 14px;
    color: #B4B4B4;
}

.friendship-content > li {
    margin-bottom: 9px;
}

.friendship-content > li:last-child {
    margin-top: 30px;
}

.register {
    width: 255px;
    height: auto;
    margin-left: 123px;
}

.register p {
    color: #fff;
    text-align: center;
}

.label-container {
    float: left;
    color: #b4b4b4;
    width: 77px;
    text-align: right;
    font-size: 14px;
}

.register input[type = text], .register input[type= password], .register input[type= number] {
    width: 178px;
    height: 27px;
    border-radius: 4px;
    background-color: #646464;
    border: 1px solid #FDAF46;
}
.rom {
    margin-bottom: 15px;
    text-align: right;
}
.register input[type = submit]{
    width: 54px;
    height: 30px;
    background-color: #B2B2B2;
    border: none;
}
